<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>guzhangdengji</key>
	<array>
		<dict>
			<key>value</key>
			<string>10</string>
			<key>name</key>
			<string>一般</string>
		</dict>
		<dict>
			<key>value</key>
			<string>20</string>
			<key>name</key>
			<string>严重</string>
		</dict>
		<dict>
			<key>value</key>
			<string>30</string>
			<key>name</key>
			<string>关键</string>
		</dict>
		<dict>
			<key>value</key>
			<string>40</string>
			<key>name</key>
			<string>重大</string>
		</dict>
	</array>
	<key>gaojingdengji</key>
	<array>
		<dict>
			<key>value</key>
			<string>0</string>
			<key>name</key>
			<string>严重告警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>name</key>
			<string>一般告警</string>
		</dict>
		<dict>
			<key>value</key>
			<string>2</string>
			<key>name</key>
			<string>重大告警</string>
		</dict>
	</array>
	<key>shifouxuni</key>
	<array>
		<dict>
			<key>value</key>
			<string>0</string>
			<key>name</key>
			<string>非虚拟端子(物理端子)</string>
		</dict>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>name</key>
			<string>虚拟端子</string>
		</dict>
	</array>
	<key>shifoufujie</key>
	<array>
		<dict>
			<key>value</key>
			<string>0</string>
			<key>name</key>
			<string>非复接</string>
		</dict>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>name</key>
			<string>复接</string>
		</dict>
	</array>
	<key>duanzizhuangtai</key>
	<array>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>name</key>
			<string>占用</string>
		</dict>
		<dict>
			<key>value</key>
			<string>2</string>
			<key>name</key>
			<string>空闲</string>
		</dict>
		<dict>
			<key>value</key>
			<string>3</string>
			<key>name</key>
			<string>损坏</string>
		</dict>
		<dict>
			<key>value</key>
			<string>4</string>
			<key>name</key>
			<string>预占</string>
		</dict>
		<dict>
			<key>value</key>
			<string>5</string>
			<key>name</key>
			<string>禁止使用</string>
		</dict>
		<dict>
			<key>value</key>
			<string>6</string>
			<key>name</key>
			<string>负荷已满</string>
		</dict>
		<dict>
			<key>value</key>
			<string>7</string>
			<key>name</key>
			<string>报废</string>
		</dict>
		<dict>
			<key>value</key>
			<string>8</string>
			<key>name</key>
			<string>款施工</string>
		</dict>
		<dict>
			<key>value</key>
			<string>9</string>
			<key>name</key>
			<string>拆除</string>
		</dict>
	</array>
	<key>duanzifenlei</key>
	<array>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>name</key>
			<string>开关</string>
		</dict>
		<dict>
			<key>value</key>
			<string>2</string>
			<key>name</key>
			<string>熔断器</string>
		</dict>
		<dict>
			<key>value</key>
			<string>3</string>
			<key>name</key>
			<string>直连</string>
		</dict>
	</array>
	<key>IOleixing</key>
	<array>
		<dict>
			<key>value</key>
			<string>0</string>
			<key>name</key>
			<string>输入</string>
		</dict>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>name</key>
			<string>输出</string>
		</dict>
		<dict>
			<key>value</key>
			<string>2</string>
			<key>name</key>
			<string>输入输出</string>
		</dict>
	</array>
	<key>duanzileixing</key>
	<array>
		<dict>
			<key>value</key>
			<string>12VDC</string>
			<key>name</key>
			<string>12VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>24VDC</string>
			<key>name</key>
			<string>24VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>48VDC</string>
			<key>name</key>
			<string>48VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>60VDC</string>
			<key>name</key>
			<string>60VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>240VDC</string>
			<key>name</key>
			<string>240VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>400VDC</string>
			<key>name</key>
			<string>400VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>480VDC</string>
			<key>name</key>
			<string>480VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>220VAC</string>
			<key>name</key>
			<string>220VAC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>380VAC</string>
			<key>name</key>
			<string>380VAC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>10KVAC</string>
			<key>name</key>
			<string>10KVAC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>35KVAC</string>
			<key>name</key>
			<string>35KVAC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>220VACUPS</string>
			<key>name</key>
			<string>220VACUPS</string>
		</dict>
		<dict>
			<key>value</key>
			<string>380VACUPS</string>
			<key>name</key>
			<string>380VACUPS</string>
		</dict>
		<dict>
			<key>value</key>
			<string>±12VDC</string>
			<key>name</key>
			<string>±12VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>±24VDC</string>
			<key>name</key>
			<string>±24VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>±48VDC</string>
			<key>name</key>
			<string>±48VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>±60VDC</string>
			<key>name</key>
			<string>±60VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>±110VDC</string>
			<key>name</key>
			<string>±110VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>±400VDC</string>
			<key>name</key>
			<string>±400VDC</string>
		</dict>
		<dict>
			<key>value</key>
			<string>地线</string>
			<key>name</key>
			<string>地线</string>
		</dict>
	</array>
	<key>shebeizichan</key>
	<array>
		<dict>
			<key>name</key>
			<string>非资产资源</string>
			<key>value</key>
			<string>非资产资源</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拆分中</string>
			<key>value</key>
			<string>拆分中</string>
		</dict>
		<dict>
			<key>name</key>
			<string>尚未下达</string>
			<key>value</key>
			<string>尚未下达</string>
		</dict>
	</array>
	<key>shebeishiwu</key>
	<array>
		<dict>
			<key>name</key>
			<string>非实物资源</string>
			<key>value</key>
			<string>非实物资源</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拆分中</string>
			<key>value</key>
			<string>拆分中</string>
		</dict>
		<dict>
			<key>name</key>
			<string>尚未下达</string>
			<key>value</key>
			<string>尚未下达</string>
		</dict>
	</array>
	<key>shebeidalei</key>
	<array>
		<dict>
			<key>name</key>
			<string>高压变配电</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>value</key>
			<string>2</string>
			<key>name</key>
			<string>低压变配电</string>
		</dict>
		<dict>
			<key>value</key>
			<string>3</string>
			<key>name</key>
			<string>发电机组</string>
		</dict>
		<dict>
			<key>value</key>
			<string>4</string>
			<key>name</key>
			<string>直流供电</string>
		</dict>
		<dict>
			<key>value</key>
			<string>5</string>
			<key>name</key>
			<string>交流不间断电源</string>
		</dict>
		<dict>
			<key>value</key>
			<string>6</string>
			<key>name</key>
			<string>空调系统</string>
		</dict>
		<dict>
			<key>value</key>
			<string>7</string>
			<key>name</key>
			<string>充气机系统</string>
		</dict>
		<dict>
			<key>value</key>
			<string>8</string>
			<key>name</key>
			<string>动力监控系统</string>
		</dict>
	</array>
</dict>
</plist>
